@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #111111;
}
img{
    max-width: 100%;
    height: auto;
}

.banner{
    width: 80%;
    margin: 0 auto;
}
/* header area styles  */
header{}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}
.banner-content{
    width: 50%;
}
.banner-title{
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
}
.banner-description{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1rem;
    margin: 16px 0;
}
.primary-btn{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 25px;
    border: 0;
    border-radius: 25px;
    background-color: #E02C6D;
}
.banner-image{
    width: 40%;
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
}


/* responsive area start  */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content, .banner-image{
        width: 100%;
        text-align: center;
    }
}